@using ReconhecimentoFacialAWS.ViewModels;
@model UserVM

<div id="offcanvasUsuario" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Novo Usuário</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="frmUsuario" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="@Model.Login"></label>
                    <input id="txtLogin" type="text" class="form-control lower" asp-for="@Model.Login" placeholder="digite o login" required>
                    <span asp-validation-for="@Model.Login" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="@Model.Password"></label>
                    <input id="txtPassword" type="password" class="form-control" asp-for="@Model.Password" placeholder="digite a senha" autocomplete="off" required>
                    <span asp-validation-for="@Model.Password" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <label class="form-label" asp-for="@Model.Photo"></label>
                    <input class="form-control" type="file" id="formFile" asp-for="@Model.Photo" accept=".jpg,.jpeg,.png" required>
                    <span asp-validation-for="@Model.Photo" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button 
                    id="btnGravar" 
                    class="btn btn-primary" 
                    type="submit" 
                    data-loading-text="Aguarde...">Gravar
                </button>
            </div>
        </form>
    </div>
</div>
